.u-section-1 .u-sheet-1 {
  min-height: 185px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  width: 881px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin: 38px 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  font-family: Lobster;
  width: 680px;
  margin: 53px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 53px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 907px;
}

.u-section-3 .u-text-1 {
  width: 751px;
  font-family: Lobster;
  margin: 113px auto 0;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  width: 759px;
  margin: 27px auto 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 569px;
  margin: 46px auto 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-3 .u-text-1 {
    width: 739px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 93px;
    margin-right: 93px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 539px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 86px;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    font-size: 0.875rem;
    margin-top: 54px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 339px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 255px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  width: 720px;
  margin: 20px auto 0;
}

.u-section-4 .u-text-2 {
  width: 720px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 364px;
}

.u-section-5 .u-text-1 {
  width: 680px;
  font-size: 3rem;
  font-family: Lobster;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 42px auto 60px;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 364px;
}

.u-section-6 .u-text-1 {
  width: 680px;
  font-size: 3rem;
  font-family: Lobster;
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  width: 680px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-text-3 {
  width: 680px;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  margin: 42px auto 60px;
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
  }

  .u-section-6 .u-text-3 {
    width: 340px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 952px;
}

.u-section-7 .u-group-1 {
  width: 535px;
  min-height: 836px;
  margin: 58px auto 0 0;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-7 .u-text-1 {
  font-family: Lobster;
  font-weight: normal;
  margin: 51px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 118px -8px 0 8px;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 108px auto 0 132px;
}

.u-section-7 .u-layout-wrap-1 {
  width: 605px;
  margin: -836px auto 58px 535px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 425px;
}

.u-section-7 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px 30px 35px;
}

.u-section-7 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(215, 90, 74) !important;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 117px 0 0;
}

.u-section-7 .u-text-4 {
  line-height: 1.8;
  font-style: italic;
  margin: 23px 5px 0 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 469px;
}

.u-section-7 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-7 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 28px 106px 0 0;
}

.u-section-7 .u-text-6 {
  line-height: 1.8;
  font-style: italic;
  margin: 31px 5px 0 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 401px;
}

.u-section-7 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-7 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 155px 0 auto;
}

.u-section-7 .u-text-7 {
  margin: 20px 70px 0 0;
}

.u-section-7 .u-text-8 {
  line-height: 1.8;
  font-style: italic;
  margin: 26px 5px 0 0;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 447px;
}

.u-section-7 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-7 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-9 {
  margin: 20px 96px 0 0;
}

.u-section-7 .u-text-10 {
  margin: 20px 5px 0 0;
}

.u-section-7 .u-btn-3 {
  padding: 0;
}

.u-section-7 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 441px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 84px;
    margin-right: 73px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 142px;
    margin-left: 43px;
    padding: 15px 46px 15px 45px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 499px;
    margin-left: 335px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 79px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-right: 59px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 424px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-right: 43px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 458px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-right: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1228px;
  }

  .u-section-7 .u-group-1 {
    min-height: 425px;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 18px;
    padding-right: 30px;
    padding-bottom: 40px;
  }

  .u-section-7 .u-text-1 {
    width: 163px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 60px;
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 68px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 11px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1294px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 57px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 130px;
    margin-left: 132px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 285px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1860px;
  }

  .u-section-7 .u-group-1 {
    min-height: 574px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 81px;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 78px;
    margin-left: auto;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 0;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1030px;
}

.u-section-8 .u-text-1 {
  font-size: 3rem;
  font-family: Lobster;
  margin: 60px 20px 0;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-gallery-1 {
  height: 779px;
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
  margin: 30px auto 60px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 17px 17px;
}

.u-section-8 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-2 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-8 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-8 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-8 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-8 .u-gallery-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-8 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-8 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-gallery-1 {
    height: 642px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1490px;
  }

  .u-section-8 .u-gallery-1 {
    grid-template-columns: auto auto;
    height: 1106px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 3625px;
  }

  .u-section-8 .u-gallery-1 {
    grid-template-columns: auto;
    height: 3318px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 2369px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-8 .u-gallery-1 {
    height: 2089px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 375px;
}

.u-section-9 .u-text-1 {
  font-size: 3rem;
  width: 680px;
  margin: 75px auto 0;
}

.u-section-9 .u-text-2 {
  width: 680px;
  margin: 22px auto 0;
}

.u-section-9 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 96px auto 60px;
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 52px;
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
  }
}